body{
    background-image: url("../images/hoofs.jpg");
	/*background-repeat: no-repeat;*/
  	/*background-position: center;*/
}
h2{
	display: inline;
	padding-left: 50px;
}
#title{
	text-align: center;
	margin: 0px;
	background-color: #fff
}
#score-timer{
	background-color: #fff;
	text-align: center;

}
#canvas{
	display: block;
    margin: auto;
    width: 70%;
    max-height: 800px;
    max-width: 800px;
    min-width: 400px;
}
#menu{
	float: left;
	background-color: #fff;
}