body{
    background-image: url("../images/hoofs.jpg");
}
h2{
	display: inline;
	padding-left: 50px;
}
#title{
	text-align: center;
	margin: 0px;
	background-color: #fff;
	padding-left: 10%;
}
#score-timer{
	background-color: #fff;
	text-align: center;
	padding-left: 10%;
}
#canvas{
	display: block;
    margin: auto;
    width: 70%;
    max-height: 700px;
    max-width: 700px;
    min-width: 400px;
}
#menu{
	float: left;
	background-color: #fff;
	max-width: 250px;
}

#high-scores{
	background-color: #fff;
    text-align: center;
    position: absolute;
    left: 50%;
    padding: 10px;
}